spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=150MB
server.port=8080
server.address=address

#logging.level.root=WARN
logging.level.org.springframework=fatal
logging.level.com.appicantion.name=fatal

logging.config=src/main/resources/log4j2.xml

storagesystem.server.prefix=serverprefix
storagesystem.server.name=servername
storagesystem.server.protocol=http

storagesystem.storage.issuer=StorageSystem
storagesystem.storage.path=C:/path/to/storage
storagesystem.storage.privatekey=./keys/jwt_rsa_key.key
storagesystem.storage.publickey=./keys/jwt_rsa_key.pub